{% extends "base.html" %}

{% block content %}
<div>
    <p>
        {{ message }}
    </p>
</div>
<div>
    <p><b>Lista posiadanych książek</b></p>
    <table border="5px">
        <tr>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Wydawnictwo</td>
            <td>Rok wydania</td>
            <td>Kategoria</td>
            <td>Forma wydania</td>
            <td>Opis</td>
        </tr>
    {% for book in user_list %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publishing_house }}</td>
            <td>{{ book.year_published }}</td>
            <td>{{ book.get_book_kind_display }}</td>
            <td>{{ book.get_print_kind_display }}</td>
            <td>{{ book.description }}</td>
        </tr>

    {% endfor %}
    </table>
</div>

<div>
    <p><b>Znajdź książkę</b></p>
    <form method = "POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">szukaj</button>
    </form>
</div>

<div>
    <p>
        <a href="{% url "all-books" %}">Lista wszystkich książek</a>
    </p>
</div>

<div>
    <p><b>Lista zarezerwowanych książek</b></p>
    <ul>
        {% for record in books_reserved %}
        <li>
            {{ record.book }}, {{ record.owner }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

